	<%= form_for @garden do |f| %>
<% if @garden.errors.any? %>
    <div id="error_explanation">
      <h2>There were some errors:</h2>

      <ul>
        <% @garden.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= f.label :garden_name%>
<%= f.text_field :garden_name%><br>



<%= f.label :category %>
<%= f.text_field :category %><br>

<%= f.label :difficulty_rating %>
<%= f.text_field :difficulty_rating %><br>

<%= f.label :description %>
<%= f.text_field :description %>
<br><br>
<%= f.label :produce_id, "Add Produce"%>
<%= f.collection_select :produce_id, Produce.all, :id, :produce_name, :include_blank => true %>

<%= f.submit %>
<% end %> 
