<h1> Create a Garden</h1>
<br >

<%= form_for (@garden)  do |f| %>
 <ul>
    <% @garden.errors.full_messages.each do |error_message|%>
    <li><%= error_message%></li>
    <%end%>
    </ul>
    
    <%= f.label :Garden_name %>
    <%= f.text_field :garden_name %>
<br>
    <%= f.label :category %>
    <%= f.select(:category, ["Vegetable", "Fruit", "Herbs", "Flower", "Miscellaneous"])%>

<br>
    <%= f.label :Difficulty_Rating%>
    <%= f.text_field :difficulty_rating%>

<br>
    <%= f.label :Description %>
    <%= f.text_field :description%>
<br>
<%= f.hidden_field :user_id, :value => current_user.id %>
<br><br>

<%= f.label :produce_id, "Add Produce"%>
<%= f.collection_select :produce_id, Produce.all, :id, :produce_name%>

  <%=  f.submit "Submit" %>

<%end%>