
<div><strong>Garden Name:</strong> <%= @garden.garden_name %></div>
<div><strong>Category:</strong> <%= @garden.category %></div>
<div><strong>Difficulty:</strong> <%= @garden.difficulty_rating %></div>
<div><strong>Description:</strong> <%= @garden.description %></div>
<br>
<br><br>

<br>
<% if current_user.id == @garden.user_id %>
    <%= link_to "Edit Garden", edit_garden_path(@garden) %>
    <%= link_to "Delete Garden", garden_path(@garden), method: :delete,  data: { confirm: 'Are You Sure?' }%>
<% end %>