<%= link_to 'All Gardens', gardens_path, method: :get %>
<br>
<br>
<div><strong>Garden Name:</strong> <%= @garden.garden_name %></div>
<div><strong>Category:</strong> <%= @garden.category %></div>
<div><strong>Difficulty:</strong> <%= @garden.difficulty_rating %></div>
<div><strong>Description:</strong> <%= @garden.description %></div>