<div><strong>Garden Name:</strong> <%= @garden.garden_name %></div>
<div><strong>Category:</strong> <%= @garden.category %></div>
<div><strong>Difficulty:</strong> <%= @garden.difficulty_rating %></div>
<div><strong>Description:</strong> <%= @garden.description %></div>
<br>
<br><br>
<% if @garden.produce %>
    <div><strong>Produce Name:</strong> <%= @garden.produce.produce_name %></div>
    <div><strong>Category:</strong> <%= @garden.produce.category %></div>
    <div><strong>Number of Produce:</strong> <%= @garden.produce.number_of_produce %></div>
<% end %>


<br>
<%= link_to "Edit Garden", edit_garden_path(@garden) %>
<%= link_to "Delete Garden", garden_path(@garden), method: :delete,  data: { confirm: 'Are You Sure?' }%>
