<h1> Edit Produce from the garden </h1>
<br >

<%= form_for (@produce)  do |f| %>
 <ul>
    <% @produce.errors.full_messages.each do |error_message|%>
    <li><%= error_message%></li>
    <%end%>
    </ul>
    
    <%= f.label :produce_name %>
    <%= f.text_field :produce_name %>
<br>
    <%= f.label :category %>
    <%= f.select(:category, ["Vegetable", "Fruit", "Herbs", "Flower", "Miscellaneous"])%>

<br>
    <%= f.label :number_of_produce%>
    <%= f.text_field :number_of_produce%>

<br>

<br>
<%= f.hidden_field :user_id, :value => current_user.id %>

  <%=  f.submit "Submit" %>

<%end%>