<!DOCTYPE html>
<html>
  <head>
    <title>Garden Tracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     
     <%= link_to 'Log Out', logout_path, method: :delete %>
     <%= link_to 'New Garden', new_garden_path, method: :get %>
    
    <%= yield %>
  </body>
</html>
